# This file contains common pin mappings for MKS Robin Nano V3
# boards. To use this config, the firmware should be compiled for the
# stm32f407. When running "make menuconfig", select the 48KiB
# bootloader, and enable "USB for communication".

# The "make flash" command does not work on the MKS Robin. Instead,
# after running "make", copy the generated "out/klipper.bin" file to a
# file named "Robin_nano_v3.bin" on an SD card and then restart the
# MKS Robin with that SD card.

# See docs/Config_Reference.md for a description of parameters.

#########################################################################
#!!!!!!!!!!!!!!!!! DELETE SAVE CONFIG AT THE VERY BOTTOM !!!!!!!!!!!!!!!#
#########################################################################

########################################
# Fluidd
########################################

[include fluidd.cfg]

########################################
# Config's
########################################

[include configs/*.cfg]

########################################
# Macro's
########################################

[include macros/*.cfg]
